<app-nav></app-nav>

<div class="container">
  <h2 class="title-primary deep-orange-text darken-2">Oba! Compra Confirmada. Agora é só aproveitar</h2>
    <div class="margin-top-20 row">
      <div class="col s4">
        <img src="assets/images/icon-5.png" />
      </div>
      <div class="margin-top-60 col s8">
        <div class="title-primary">
          Agora você pode se surpreender com nosso APP
        </div>
        <div class="cyan-text title-secondary">
            APP CVC AND GO
          </div>
        <p class="text-default-primary">
            Oferece uma qualidade de ensino superior excelente, além de proporcionar uma vasta opção de universidades públicas, privadas e politécnicas. Portugal é um dos destinos mais procurados quando o assunto é fazer planos de estudar e morar no exterior. 
<br><br>
            Além disso, este país possui uma das mais antigas universidades da Europa: a Universidade de Coimbra criada pelo Rei D. Dinis I em 1290. Um grande diferencial de estudar em Portugal: é o uso do ENEM como processo de integração.
        </p>
      </div>
    </div>
</div>