<app-nav></app-nav>

<div class="container">
  <h2 class="title-primary deep-orange-text darken-2">Oba! Compra Confirmada. Agora é só aproveitar</h2>
    <div class="margin-top-20 row">
      <div class="col s4">
        <img src="assets/images/icon-5.png" />
      </div>
      <div class="margin-top-60 col s8">
        <div class="title-primary">
          Agora você pode se surpreender com nosso APP
        </div>
        <p class="text-default-primary">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dolor
          dolor, convallis vel viverra in, mattis eget ex. Vestibulum mollis,
          est a tincidunt tincidunt, quam lorem tincidunt mi, quis imperdiet dui
          mi vel purus. Sed imperdiet tortor sit amet metus sollicitudin, vel
          ullamcorper mauris cursus. Cras vel euismod sapien. Aliquam venenatis
          ipsum eget hendrerit pharetra. Donec malesuada maximus elit sit amet
          volutpat. Phasellus eget dui eget tortor iaculis fringilla eu et dui.
          Duis pharetra iaculis est eu semper. Duis aliquam ex in neque pretium,
          ut porta ex ultricies. Nunc sit amet ligula eget diam cursus blandit
          vitae in augue. Vestibulum semper fringilla tincidunt. Maecenas eu
          ipsum fringilla.
        </p>
      </div>
    </div>
</div>