<app-nav></app-nav>

<div class="container">
  <h2 class="title-primary">Como você quer pagar?</h2>
    <div class="row">
      <div class="col s6">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input placeholder="igual ao do cartão" id="first_name" type="text" class="validate">
                <label for="first_name">Nome</label>
              </div>
              <div class="input-field col s12">
                  <input placeholder="número" id="first_name" type="text" class="validate">
                  <label for="first_name">Número do cartão</label>
                </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col s6">
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="igual ao do cartão" id="first_name" type="text" class="validate">
                  <label for="first_name">Sobrenome</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="mês" id="first_name" type="text" class="validate">
                  <label for="first_name">Mês de Validade</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="ano" id="first_name" type="text" class="validate">
                  <label for="first_name">Ano de Validade</label>
                </div>
                <div class="input-field col s4">
                  <input placeholder="número" id="first_name" type="text" class="validate">
                  <label for="first_name">Código de segurança</label>
                </div>
              </div>
            </form>
          </div>
          <p><a class="col s12 margin-top-20 waves-effect deep-orange darken-2 btn" href="#">Pagar</a></p>
        </div>